<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Itsafeaturenotabug"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Itsafeaturenotabug">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AttendeeBrowseEventsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".OrganizerBrowseEventsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity android:name=".AdminDashboardActivity"
            android:parentActivityName=".MainActivity">
        </activity>

        <activity
            android:name=".AdminBrowseEventsActivity"
            android:parentActivityName=".AdminDashboardActivity"
            android:exported="true">
        </activity>

        <activity android:name=".AttendeeEventDetailsActivity">
        </activity>

        <activity android:name=".OrganizerEventDetailsActivity">
        </activity>

        <activity android:name=".AdminEventDetailsActivity">
        </activity>

        <activity android:name=".AdminBrowseProfilesActivity"
            android:parentActivityName=".AdminDashboardActivity">
        </activity>

        <activity android:name=".UpdateProfileActivity">
        </activity>

        <activity android:name=".ProfileDetailsActivity">
        </activity>

        <activity android:name=".EditEventActivity">
        </activity>

        <activity android:name=".QRCodeScanner"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme">
        </activity>

        <activity android:name=".HandlePromotionalQRActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="featurenotbug" android:host="promotional"/>
            </intent-filter>
        </activity>

        <activity android:name=".HandleCheckInQRActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="featurenotbug" android:host="checkin"/>
            </intent-filter>
        </activity>

        <activity android:name=".UserCheckInActivity">

        </activity>
        <activity android:name=".AttendeesActivity">
        </activity>

        <activity android:name=".OrganizerMapActivity">
        </activity>

        <activity android:name=".NewUserActivity">
        </activity>

        <activity android:name=".MyEventsActivity">
        </activity>

    </application>

</manifest>